---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



@import "colors";
@import	"fonts";
@import "grid";	


//HEADER

.site-header{
	background-color: $HeaderBackgroundColor;
	overflow: hidden;
}

.left-header-overflow-wrap{
	overflow: hidden;
	float: left;
}

.right-header-overflow-wrap{
	display: none;
	overflow: hidden;
	float: right;

	@media (min-width: 900px){
		display: block;
	}
}

.header-menu{
	float: right;

	@media (min-width: 900px){
		display: none;
	}
}

.menu-icon{
	width: 4em;
	padding: 2em 2em 0em 0em;
}

.logo-header-wrap{
	padding: 1.7em 1em 1em 1em;
	float: left;
}

.logo-header{
	width: 12.5em;

}

.header-nav{
	display: none;
	font-family: $MainFontFamily;
	font-weight: $HeaderFontWeight;
	letter-spacing: $HeaderLetterSpacing;
	padding: 3em 0em 0em 0em;
	overflow: hidden;
	float: left;

	li{
		color: $HeaderFontColor;
		padding: 0em 1.5em 0em 0em;
		list-style-type: none;
		float: left;
	}

	li:hover{
		text-decoration: underline;
	}

	@media (min-width: 900px){
		display: block;
		
	}
}

.pic-header-wrap{
	padding: 1.3em 1em 1em 1em;
	float: right;
}

.pic-header{
	width: 4em;
}

.user-name-header{
	font-family: $MainFontFamily;
	font-weight: $HeaderFontWeight;
	letter-spacing: $HeaderLetterSpacing;
	padding: 3em 0em 0em 0em;
	float: right;

	a{
		color: $HeaderFontColor;
		text-decoration: none;
	}

	a:hover{
		text-decoration: underline;
	}
}

//MAIN PAGE

.page-content{
	background-color: $BackgroundColor;
}

//INTRO HEADER

.main-intro-page{
	background-color: $MainIntroPageBackgroundColor;
	overflow: hidden;
}	


.container-buttons-wrap{
	overflow: hidden;
	margin: 0 auto;
	padding: 0em 0em 0em 8em;

	@media (min-width: 600px){
		padding: 0;
	}	
}

.container{
	overflow: hidden;
	margin: 0em 1em 0em 0em;

	
	@media (min-width: 600px){
		float: left;
		margin: 0em 1em 0em 1em;
	}
}

@-webkit-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@-moz-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

.fade-in{
	opacity: 0;  
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	 animation:fadeIn ease-in 1;

  	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  	-moz-animation-fill-mode:forwards;
  	 animation-fill-mode:forwards;

  	-webkit-animation-duration:1s;
  	-moz-animation-duration:1s;
  	 animation-duration:1s;

}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.fade-in.three {
  -webkit-animation-delay: 3.1s;
  -moz-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

.play-text{
	font-family: $MainFontFamily;
	font-size: 1em;
	font-weight: $IntroFontWeight;
	color: $IntroSectionFontColor;
	margin: 0em auto 0.4em 0em;
	padding: 0.5em 0em 0em 0em;
	width: 11em;
	text-align: left;

	@media (min-width: 900px){
		font-size: $IntroFontSize;
	}
	

}

.tell-text{
	font-family: $MainFontFamily;
	font-size: 1em;
	font-weight: $IntroFontWeight;
	color: $IntroSectionFontColor;
	margin: 0em auto 0.4em 0em;
	width: 11em;
	text-align: left;

	@media (min-width: 900px){
		font-size: $IntroFontSize;
	}


}

.game-text{
	font-family: $MainFontFamily;
	font-size: 2em;
	font-weight: $IntroTitleFontWeight;
	color: $IntroSectionGameOnFontColor;
	margin: 0em auto 0em 0em;
	padding: 0em 0em 0.5em 0em;
	width: 6em;
	text-align: left;


	@media (min-width: 900px){
		font-size: $IntroTitleFontSize;
	}

}

.buttons-wrap{
	overflow: hidden;
	margin: 0em auto 1em auto;
	padding: 0em 0em 0em 2.2em;

	@media (min-width: 600px){
		padding: 0;
		margin: 1em 0em 0em 0em;
		float: left;
	}
	
	@media (min-width: 900px){
		margin: 3.5em 0em 0em 0em;
		padding: 0em 0em 1em 0em;
	}
}

%button{
	height: 4.5em;
	width: 4.5em;
	border-radius: 50%;
	text-align: center;

	li{
		list-style-type: none;
		margin: 1.9em 0em 0em 0em;
		font-size: 0.9em;
	}

	@media (min-width: 900px){
		height: 5.5em;
		width: 5.5em;

		li{
			margin: 2.2em 0em 0em 0em;
			font-size: 1em;
		}
	}

}

.buttonA{
	@extend %button;
	background-color: $ButtonAColor;
	border: 4px solid $ButtonARadiusColor;
	margin: 0em 0.2em 0em 0.1em;

	a{
		color: $ButtonAFontColor;
		text-decoration: none;
	}

}

.buttonA:hover{
	background-color: $ButtonBColor;
	border: 4px solid $ButtonBRadiusColor;

	a{
		color: $ButtonBFontColor;
	}
}


//FEATURED TITLES

.featured-titles{
	background-color: $BackgroundColor;
}

%featured-titles-name{
	font-family: $MainFontFamily;
	font-size: $TitlesIntroFontSize;
	color: $TitleIntroFontColor;
	text-align: center;
}

.featured-titles-nameA{
	@extend %featured-titles-name;
	margin: 2em auto 2em auto;
}

.featured-titles-nameB{
	@extend %featured-titles-name;
	margin: 2em auto 1em auto;
}

.carousel-wrap{
	margin: 0 auto;
}

.owl-carousel{
	margin: 1em 0em 3em 0em;
}

.owl-nav{
	overflow: hidden;
	margin: 1em 0em 0em 0em;
}

%owl-controls{
	background-color: $CarouselButtonBackground;
	color: white;
	padding: 0.2em;
	border-radius: 5%;
}

.owl-prev{
	@extend %owl-controls;
	float: left;

}

.owl-next{
	@extend %owl-controls;
	float: right;
}

//WORKS SECTION

.works-section{
	background-color: white;
}

.works-explained{
	margin: 1em auto 0em auto;
	padding: 0em 0em 4em 0em;
	text-align: center;	

	@media (min-width: 900px){
		width: 1350px;
	}
}

.step-wrap{
	display: block;
	width: 20em;
	margin: 0 auto 1em auto;

	@media (min-width: 900px){
		display: inline-block;
		margin: 0 auto;
		width: 15em;
	}
}

.works-arrow{
	display: none;
	margin: 0em 0em 5.2em 0em;

	@media (min-width: 900px){
		display: inline-block;
	}
}

.step-sizing{
	width: 10em;
}

%works-explained-name{
	font-family: $MainFontFamily;
	font-weight: $SectionsFontWeight;
	list-style-type: none;
}

.works-explained-nameA{
	@extend %works-explained-name;

}

.works-explained-nameB{
	@extend %works-explained-name;

}

.works-explained-nameC{
	@extend %works-explained-name;


}

.works-explained-nameD{
	@extend %works-explained-name;

}

.works-explained-description{
	color: $StepDescriptionFontColor;
	list-style-type: none;
	max-width: 20em;
	margin: 0.3em 0em 0em 0em;

	@media (min-width: 900px){
		width: 15em;
	}
}

//REVIEW EXAMPLES

.review-page{
	background-color: $BackgroundColor;
	text-align: center;
	padding: 0em 0em 5em 0em;
}

.review-wrap{
	overflow: hidden;
	margin: 2em auto 0em auto;
}

%review-example{
	background-color: $ReviewExampleBackgroundColor;
	border: 1px solid $BorderColor;
	overflow: hidden;
	padding: 0em 1em 0em 1em;
	margin: 0em 1em 3em 1em;
}

.review-exampleA{
	@extend %review-example;

	@media (min-width: 900px){
		float: left;
		margin: 0em 1em 0em 1em;
		padding: 0em 1.5em 0em 1em;
	}	
}

.review-exampleB{
	@extend %review-example;

	@media (min-width: 900px){
		float: right;
		margin: 0em 1em 0em 1em;
		padding: 0em 1.5em 0em 1em;
	}	
}

.review-example-top{
	overflow: hidden;
}

.review-example-top-right{
	display: inline-block;
	margin: 0em 0em 0em 1em;
}

.review-example-top-left{
	background-color: $BackgroundColor;
	padding: 0em 0.8em 0em 0.2em;
	margin: 1em 0em 1em 0.5em;
	overflow: hidden;
	display: inline-block;

	@media (min-width: 600px){
		margin: 0em 0em 2.5em 0.5em;
	}
}

.review-example-top-right-left{
	padding: 0.5em 0em 0em 0em;
	float: left;
}

.review-example-top-right-right{
	overflow: hidden;
	margin: 1.2em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	list-style-type: none;
	text-align: left;
	float: right;

}

.user-info-wrap-status{
	overflow: hidden;
}

.user-info-wrap-top{
	margin: 0em 0em 0em 0.3em;
}

.user-info-name{
	font-family: $MainFontFamily;
	font-weight: $ReviewUserFontWeight;
	font-size: $ReviewUserFontSize;
}

.user-town{
	font-family: $MainFontFamily;
	color: $UserTownColor;
}	

.status-symbol{
	float: left;
}

.k-symbol-size{
	width: 1.5em;
}

.b-symbol-size{
	width: 1.6em;
	margin: 0.3em 0em 0em 0em;
}

.status-description{
	font-family: $MainFontFamily;
	padding: 0.7em 0em 0em 0em;
	float: left;
}

.status-color{
	color: $StatusColor;
}

.stars-wrap{
	border-top: 1.5px solid #F4F4F4;
	padding: 1em 0em 0em 0em;
}

.review-text{
	width: 80%;
	text-align: center;
	line-height: 1.3em;
	margin: 1em auto;

	@media (min-width: 600px){
		width: 23em;
	}
}

.review-ratings{

	margin: 1.5em 0em 0em 0em;

	li{
		font-weight: 600;
		list-style-type: none;
		display: inline-block;
		margin: 0 0.3em;
		font-size: 0.8em;
	}

	@media (min-width: 600px){
		
		li{
			font-size: 1em;
			margin: 0 0.6em;
		}
	}
}

/******************* PROFILE PAGE ******************************/


.main-profile-page{
	background-color: $ProfileBackgroundColor;
}

//PROGRESS TRACKER

.works-explained-profile{
	margin: 2em auto 0em auto;
	padding: 0em 0em 4em 0em;
	text-align: center;
	
}

.step-wrap-profile{
	display: none;
	margin: 0 auto 1em auto;

	@media (min-width: 900px){
		display: inline-block;
	}

}

.step-wrap-profileB{
	display: inline-block;
	margin: 0 auto 1em auto;

}

.step-sizing-profile{
	width: 13em;

	@media (min-width: 900px){
		width: 8em;
	}
}

.works-arrow-profile{
	display: none;
	margin: 1em 0em 1.5em 0em;

	@media (min-width: 900px){
		display: inline-block;
	}
}

.works-arrow-profileB{
	display: none;
	margin: 0em 0em 4.5em 0em;

	@media (min-width: 900px){
		display: inline-block;
	}
}

//DASHBOARD MAIN CONTENT

.profile-main{
	background-color: white;
}

.dashboard-wrap{
	overflow: hidden;
	margin: 0 auto 4em auto;
}

//RECENT REVIEWS

.user-reviews-wrap{
	border: 1px solid $BorderColor;
	margin: 0 auto;
	float: left;
}

.user-reviews-top{
	background-color: $UserBoxesHeadersColor;
	font-family: $MainFontFamily;
	font-size: $DashboardColumnHeadersFontSize;
	font-weight: $DashboardColumnHeadersFontWeight;
	width: 100%;
	text-align: center;
	padding: 1em 0em 1em 0em;
}

.user-reviews-bottom{
	background-color: $BackgroundColor;
	padding: 0em 1em 1em 0em;
}

.single-review-wrap{
	overflow: hidden;
	padding: 1em 0em 0em 0em;
}

.single-review-wrap-picture{
	float: left;
	margin: 0em 0em 0em 1em;
}

.single-review-wrap-picture-sizing{
	width: 10em;
}

.single-review-wrap-info{
	float: left;
	margin: 0em 0em 0em 1em;
}

.review-date{
	font-family: $MainFontFamily;
	font-weight: $DashboardColumnTextFontWeight;
	border-bottom: 1px solid $BorderColor;
	padding: 0.5em 0.1em 0.3em 0.1em;
	width: 10em;
}

.single-user-review{
	font-family: $MainFontFamily;
	font-weight: $DashboardColumnTextFontWeight;
	margin: 0.5em 0em 0em 0em;
}

.stars-review{
	width: 10em;
	margin: 0.5em 0em 0em 0em;
}

.single-ratings-wrap{
	overflow: hidden;
	padding: 0em 0.3em 0em 0.2em;
}

.ratings-names{
	list-style-type: none;
	float: left;

	li{
		line-height: 1.7em;
	}
}

.ratings-numbers{
	list-style-type: none;
	float: right;

	li{
		line-height: 1.7em;
	}
}

//CURRENT STATUS

.user-details-wrap{
	float: right;
}

.user-details-status{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	height: 12em;
}

.user-status-description{
	list-style-type: none;
	text-align: center;
	padding: 1.5em 3em 3em 4em;
	float: left;
}

.user-li-status{
	color: $StatusColor;
	font-size: 48px;
}

.user-status-pic{
	float: left;
	padding: 0.3em 0em 0em 0em;
}

.largeking{
	width: 3.1em;
}

//USER FRIENDS

.user-reviews-friends{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	height: 12em;
	margin: 1em 0em 0em 0em;
}


//FOOTER

.site-footer{
	background-color: $FooterBackgroundColor;
	overflow: hidden;
	height: 7em;
}





/***************************************************************/

//CAROUSEL

 
  //Owl Carousel - Animate Plugin


.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

 
 	//Owl Carousel - Auto Height Plugin
 
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

 
   //Core Owl Carousel CSS File
 
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  //position relative and z-index fix webkit rendering fonts issue 
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  // fix for flashing background 
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

//No Js 
.no-js .owl-carousel {
  display: block;
}

 
 // 	Owl Carousel - Lazy Load Plugin
 
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

 
//  	Owl Carousel - Video Plugin
 
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}













