<header class="site-header">

	<div class="left-header-overflow-wrap">
		<div class="logo-header-wrap">
			<a href="index.html">
				<img src="Assets/GameOn-Logo.gif" class="logo-header">
			</a>	
		</div>
	</div>	

  	<div class="right-header-overflow-wrap">
  		<div class="pic-header-wrap">
			<a href="profile.html">
  				<img src="Assets/GameOnProfilePic.gif" class="pic-header">
  			</a>	
  		</div>	
	</div>


	<div class="header-name-wrap">
		<a href="profile.html">
			WELCOME, SCOTT!
	  	</a>	
  	</div>	

  	
</header>

<!--<div class="header-nav-wrap">
		<div class="header-nav">
			<a href="profile.html">
				<li>PROFILE</li>
			</a>
			<a href="request.html">	
				<li>REQUEST</li>
			</a>	
			<a href="#">
				<li>TRACK</li>
			</a>	
			<a href="#">
				<li>PURCHASE</li>
			</a>
			<a href="review.html">	
				<li>REVIEW</li>
			</a>
		</div>	
  	</div> -->







