<header class="site-header">

	<div class="left-header-overflow-wrap">
		<div class="logo-header-wrap">
			<img src="/Assets/GameOn-Logo.gif" class="logo-header">
		</div>
		<div class="header-nav">
			<a href="#">
				<li>ABOUT</li>
			</a>
			<a href="#">	
				<li>PARTNERS</li>
			</a>
			<a href="#">	
				<li>CURRENT TITLES</li>
			</a>	
		</div>	
	</div>	

  
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    

</header>
