@import "colors";
@import	"fonts";
@import "grid";	

//ABOUT PAGE

.about-main{
	background-color: $BackgroundColor;
	padding: 3em 0em 3em 0em;
}

%about-intro{
	font-family: $MainFontFamily;
	text-align: left;
}

.about-intro1{
	@extend %about-intro;
	margin: 0 auto;
}

.about-intro-text{
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
}

.about-info-wrap{
	overflow: hidden;
	padding: 2em 0em 0em 0em;
}

.about-p1{
	width: 47%;
	font-size: 1.1em;
	line-spacing: 1.2em;

	float: left;
}

.about-pic1{
	float: right;
}

.about-intro2{
	@extend %about-intro;
	margin: 3em auto;
}

.about-p2{
	width: 43%;
	font-size: 1.1em;
	line-spacing: 1.2em;
	margin: 0em 0em 0em 1em;

	float: right;
}

.about-pic2{
	float: left;
}






