//PAGE CONTENT

$MainFontColor: black;

//HEADER

$HeaderBackgroundColor: #262626;
$HeaderFontColor: white;

//INTRO SECTION

$MainIntroPageBackgroundColor: #3AADC8;

$IntroSectionFontColor: white;
$IntroSectionGameOnFontColor: white;

$ButtonAColor: #00C049;
$ButtonARadiusColor: white;
$ButtonBColor: white;
$ButtonBRadiusColor: #00C049;
$ButtonAFontColor: white;
$ButtonBFontColor: #00C049;


//FEATURED TITLES 

$BackgroundColor: #F4F4F4;
$TitleIntroFontColor: black;

$CarouselButtonBackground: #86838D;

//HOW IT WORKS

$StepDescriptionFontColor: #554640;

//REVIEW EXAMPLES

$BackgroundColor: #F4F4F4;
$StatusColor: #00D94B;
$UserTownColor: #4D4D4D;

$BorderColor: #C6C6C6;
$ReviewExampleBackgroundColor: white;

//PROFILE PAGE

$ProfileBackgroundColor: #f4f4f4;
$UserBoxesHeadersColor: #3AADC8;

//REQUEST PAGE

$RequestFormHeaderColor: #3AADC8;
$RequestQuestionHeaderColor: #3AADC8;
$RequestFormBorderColor: #BCBCBC;

//FOOTER

$FooterBackgroundColor: #262626;







