//PAGE CONTENT

$MainFontColor: black;

//HEADER

$HeaderBackgroundColor: #333333;
$HeaderFontColor: white;

//INTRO SECTION

$IntroSectionFontColor: #E6E6E6;
$IntroSectionGameOnFontColor: white;

$ButtonAColor: #00C049;
$ButtonARadiusColor: white;
$ButtonBColor: white;
$ButtonBRadiusColor: #00C049;
$ButtonAFontColor: white;
$ButtonBFontColor: #00C049;


//FEATURED TITLES 

$BackgroundColor: #F4F4F4;
$TitleIntroFontColor: black;

$CarouselButtonBackground: #86838D;

//HOW IT WORKS

$StepDescriptionFontColor: #554640;

//REVIEW EXAMPLES

$BackgroundColor: #F4F4F4;
$StatusColor: #00D94B;
$UserTownColor: #4D4D4D;