//HEADER

$HeaderBackgroundColor: #3AADC8;

//FONTS

$MainFontColor: black;

//FEATURED TITLES 

$BackgroundColor: #F4F4F4;
$TitleIntroFontColor: black;

$CarouselButtonBackground: #86838D;

//HOW IT WORKS

$StepDescriptionFontColor: #554640;

//REVIEW EXAMPLES

$BackgroundColor: #F4F4F4;