//HEADER

$HeaderFontWeight: 500;
$MainFontFamily: 'Helvetica Neue';
$HeaderLetterSpacing: 1.2px;

//INTRO SECTION

$IntroFontSize: 2em;
$IntroTitleFontSize: 3em;

$IntroFontWeight: 300;
$IntroTitleFontWeight: 400;

//FEATURED TITLES

$TitlesIntroFontSize: 1.5em;

//MAIN CONTENT

$SectionsFontWeight: 700;

//REVIEW EXAMPLES

$ReviewUserFontWeight: 700;
$ReviewUserFontSize: 1.2em;

//USER DASBOARD

$DashboardColumnHeadersFontSize: 1.2em; 
$DashboardColumnHeadersFontWeight: 500; 
$DashboardColumnTextFontWeight: 500; 

//REQUEST FORM

$RequestFormHeaderFontSize: 1.2em; 
$RequestFormHeaderFontWeight: 500; 

$RequestQuestionFontWeight: 600;
$RequestQuestionLetterSpacing: 1.02px;









