@import "colors";
@import	"fonts";
@import "grid";	


/************************ HOW PAGE ****************************/

.how-page-body{
	background-color: #FFFFFF;
	overflow: hidden;
	padding: 3em 0em 0em 0em;
}

.how-intro{
	overflow: hidden;
	margin: 0 auto;
}

.how-intro-left{
	float: left;
	width: 50%;
}

.how-intro-right{
	float: right;
}