@import "colors";
@import	"fonts";
@import "grid";	


/************************ HOW PAGE ****************************/

.how-page-body{
	background-color: #FFFFFF;
	overflow: hidden;
	padding: 3em 0em 0em 0em;
}

.how-intro{
	overflow: hidden;
	margin: 0 auto;
	padding: 0em 0em 3em 0em;
}

.how-intro-title{
	overflow: hidden;
	margin: 0 auto;
	padding: 0em 0em 1.5em 0em;
}

.how-intro-pic{
	width: 3em;
	//float: left;
}

.how-intro-name{
	font-family: $MainFontFamily;
	font-size: 1.2em;
	margin: 1.5em 0em 0em 1em;
	//float: left;
}

.how-intro-left{
	font-size: 1.1em;
	//float: left;
	//width: 40%;
}

.how-intro-right{
	//float: right;
}