@import "colors";
@import	"fonts";
@import "grid";	

//INTRO HEADER

.main-intro-page{
	background-color: $MainIntroPageBackgroundColor;
	overflow: hidden;
	width: 100%;
	position: absolute;
}	


.container-buttons-wrap{
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	width: 45%;
	padding: 0em 0em 0em 2em;
	
	/*@media (min-width: 350px){
		width: 50%;
	}*/

	/*@media (min-width: 600px){
		padding: 0;
		width: 55%;
	}	

	@media (min-width: 900px){
		width: 55%
	}*/


}

.container2{
	overflow: hidden;
	margin: 0em 1em 0em 0em;
	

	
	@media (min-width: 600px){
		float: left;
		margin: 0em 1em 0em 1em;
		width: 65%;
	}
}

@-webkit-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@-moz-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

.fade-in{
	opacity: 0;  
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	 animation:fadeIn ease-in 1;

  	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  	-moz-animation-fill-mode:forwards;
  	 animation-fill-mode:forwards;

  	-webkit-animation-duration:1s;
  	-moz-animation-duration:1s;
  	 animation-duration:1s;

}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.fade-in.three {
  -webkit-animation-delay: 3.1s;
  -moz-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

.play-text{
	font-family: $MainFontFamily;
	font-size: 100%;
	font-weight: $IntroFontWeight;
	color: $IntroSectionFontColor;
	margin: 0em auto 0.4em 0em;
	padding: 0.5em 0em 0em 0em;
	//width: 11em;
	text-align: left;

	@media (min-width: 900px){
		font-size: $IntroFontSize;
	}
	

}

.tell-text{
	font-family: $MainFontFamily;
	font-size: 100%;
	font-weight: $IntroFontWeight;
	color: $IntroSectionFontColor;
	margin: 0em 0em 0.4em 0em;
	//width: 15em;
	text-align: left;

	@media (min-width: 900px){
		font-size: $IntroFontSize;
	}


}

.game-text{
	font-family: $MainFontFamily;
	font-size: 200%;
	font-weight: $IntroTitleFontWeight;
	color: $IntroSectionGameOnFontColor;
	margin: 0em auto 0em 0em;
	padding: 0em 0em 0.5em 0em;
	//width: 6em;
	text-align: left;


	@media (min-width: 900px){
		font-size: $IntroTitleFontSize;
	}

}

.buttons-wrap{
	overflow: hidden;
	margin: 0em auto 1em auto;
	padding: 0em 0em 0em 2em;


	@media (min-width: 600px){
		padding: 0;
		margin: 1em 0em 0em 0em;
		//display: inline-block;
		float: left;
		width: 25%;
	}
	
	@media (min-width: 900px){
		margin: 3.5em 0em 0em 0em;
		padding: 0em 0em 1em 0em;
		float: right;
	}
}

%button{
	height: 4.5em;
	width: 4.5em;
	border-radius: 50%;
	text-align: center;

	li{
		list-style-type: none;
		margin: 1.9em 0em 0em 0em;
		font-size: 0.9em;
	}

	@media (min-width: 900px){
		height: 5.5em;
		width: 5.5em;

		li{
			margin: 2.2em 0em 0em 0em;
			font-size: 1em;
		}
	}

}

.buttonA{
	@extend %button;
	background-color: $ButtonAColor;
	border: 4px solid $ButtonARadiusColor;
	margin: 0em 0.2em 0em 0.1em;

	a{
		color: $ButtonAFontColor;
		text-decoration: none;
	}

}

.buttonA:hover{
	background-color: $ButtonBColor;
	border: 4px solid $ButtonBRadiusColor;

	a{
		color: $ButtonBFontColor;
	}
}