
@import "colors";
@import	"fonts";
@import "grid";	



/******************* PROFILE PAGE ******************************/


.profile-main{
	padding: 0em 0em 3em 0em;
}

.main-profile-page{
	background-color: $ProfileBackgroundColor;
}

//PROGRESS TRACKER

.works-explained-profile{
	margin: 2em auto 0em auto;
	padding: 0em 0em 4em 0em;
	text-align: center;
	
}

.step-wrap-profile{
	display: none;
	margin: 0 auto 1em auto;
	width: 10%;
	font-size: 80%;

	a{
		color: $MainFontColor;
		text-decoration: none;
	}

	@media (min-width: 600px){
		display: inline-block;
	}

}

.step-wrap-profileB{
	display: none;
	margin: 0 auto 1em auto;
	width: 10%;
	font-size: 80%;

	a{
		text-decoration: none;
		color: $MainFontColor;
	}

	@media (min-width: 600px){
		display: inline-block;
	}

}

.step-wrap-profileD{
	display: inline-block;
	margin: 0 auto 1em auto;
	width: 60%;
	font-size: 100%;

	a{
		text-decoration: none;
		color: $MainFontColor;
	}

	@media (min-width: 600px){
		width: 10%;
		font-size: 80%;
	}

}

.step-sizing-profile{
	width: 100%;
}

.works-arrow-profile{
	display: none;
	width: 8%;


	@media (min-width: 600px){
		display: inline-block;
		margin-bottom: 3.35%;
		
	}

	@media (min-width: 900px){
		display: inline-block;
		margin-bottom: 2.35%;
		
	}

}

.works-arrow-profileB{
	display: none;
	width: 8%;

	@media (min-width: 600px){
		display: inline-block;
		margin-bottom: 6.7%;
		
	}

	@media (min-width: 900px){
		display: inline-block;
		margin-bottom: 5.7%;
		
	}

}

.works-explained-nameP{
	font-family: $MainFontFamily;
	font-weight: $SectionsFontWeight;
	color: $CurrentSectionFontColor;
	list-style-type: none;
}

//DASHBOARD MAIN CONTENT

.profile-main{
	background-color: white;
}

.dashboard-wrap{
	overflow: hidden;
	margin: 0 auto 4em auto;
	width: 90%;

	@media (min-width: 600px){
		width: 80%;
	}

	@media (min-width: 900px){
		width: 65%;
	}
}

//CURRENT GAME

.user-leftside-wrap{
	width: 24em;
	margin: 0 auto;


	@media (min-width: 600px){
		width: 35%;
		float: left;
	}

	@media (min-width: 900px){
		width: 45%;

	}
}

.user-current-game{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	height: 16em;
	margin: 0em 0em 3em 0em;
	text-align: center;
}

.user-nowgame-bottom{
	background-color: $BackgroundColor;
	margin: 0 auto;
}

.thegame{
	
	@media (min-width: 350px){	
		margin: 2em 0em 0em 0em;
	}	

	@media (min-width: 600px){
		margin: 1.5em auto;

	}
}

//RECENT REVIEWS

.user-reviews-wrap{
	border: 1px solid $BorderColor;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.user-allofit-wrap{
	background-color: $BackgroundColor;
	width: 100%;
	height: 100%;
}

.user-reviews-top{
	background-color: $UserBoxesHeadersColor;
	font-family: $MainFontFamily;
	font-size: $DashboardColumnHeadersFontSize;
	font-weight: $DashboardColumnHeadersFontWeight;
	width: 100%;
	padding: 1em 0em 1em 4em;

	@media (min-width: 350px){
		text-align: center;
		padding: 1em 0em 1em 0em;
	}
}

.user-reviews-bottom{
	background-color: $BackgroundColor;
	//padding: 0em 1em 1em 0em;
	width: 50%;
	margin: 0 auto;

	@media (min-width: 900px){
		width: 100%;
	}
}

.single-review-wrap{
	overflow: hidden;
	padding: 1em 0em 0em 0em;
}

.single-review-wrap-picture{
	margin: 0 auto;
	width: 75%;

	@media (min-width: 900px){
		margin: 0em 0em 0em 1em;
		float: left;
		width: 40%;
	}
}

.recent-review-pic{
	//width: 8em;
	width: 100%;

	@media (min-width: 900px){
		//width: 10em;
	}
}

.single-review-wrap-info{
	margin: 0 auto;
	font-size: 0.9em;

	

	@media (min-width: 600px){
		font-size: 0.8em;
	}

	@media (min-width: 900px){
		font-size: 1em;
		float: left;
		margin: 0em 0em 0em 1em;
		width: 45%;

	}
}

.review-date{
	font-family: $MainFontFamily;
	font-weight: $DashboardColumnTextFontWeight;
	border-bottom: 1px solid $BorderColor;
	padding: 0.5em 0.1em 0.3em 0.1em;
	width: 100%;
}

.single-user-review{
	font-family: $MainFontFamily;
	font-weight: $DashboardColumnTextFontWeight;
	margin: 0.5em 0em 0em 0em;
	padding: 0em 0em 1em 0em;

	@media (min-width: 900px){
		padding: 0em;
	}
}

.stars-review{
	width: 90%;
	
	@media (min-width: 350px){
		margin: 0.5em 0em 0em 0em;
	}	
}

.single-ratings-wrap{
	overflow: hidden;
	padding: 0em 0.3em 0em 0.2em;
	font-size: 1em;

	@media (min-width: 600px){
		font-size: 80%;
	}

}

.ratings-names{
	list-style-type: none;
	float: left;

	li{
		line-height: 1.7em;
	}
}

.ratings-numbers{
	list-style-type: none;
	float: left;
	padding: 0em 0em 0em 0.4em;

	li{
		line-height: 1.7em;
	}

	@media (min-width: 350px){
		padding: 0em 0em 0em 1em;
		float: right;
	}
}

//CURRENT STATUS

.user-details-wrap{
	width: 22em;
	
	margin: 1em auto;

	@media (min-width: 600px){
		margin: 0;
		float: right;
		width: 40%;
	}

	@media (min-width: 900px){
	}
}

.user-reviews-bottom2{
	background-color: $BackgroundColor;
	width: 90%;
	margin: 0 auto;

	@media (min-width: 900px){
		width: 100%;
	}
}

.user-details-status{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	height: 12em;
	margin: 0em 0em 3em 0em;
	width: 100%;
}

.user-status-description{
	list-style-type: none;
	text-align: center;
	padding: 1em 0em 0em 2em;
	float: left;
	width: 45%;

	@media (min-width: 600px){
		padding: 1.5em 0em 3em 2em;
	}
}

.user-li-status{
	color: $StatusColor;
	font-size: 300%;

	@media (min-width: 600px){
		font-size: 200%;
	}

	@media (min-width: 900px){
		font-size: 300%;
	}
}

.user-li-reviews{
	font-size: 85%;
}

.user-status-pic{
	float: right;
	padding: 0.3em 3em 0em 0em;
	width: 20%;

	@media (min-width: 600px){
		float: left;
		padding: 0.3em 0em 0em 1.5em;
	}

	@media (min-width: 900px){
		padding: 0.3em 0em 0em 2em;
	}
}

.largeking{
	width: 3.1em;

	@media (min-width: 600px){
		width: 2.6em;
	}

	@media (min-width: 900px){
		width: 3.1em;
	}

}

//USER FRIENDS

.review-example-top-right-left2{
	padding: 0.5em 0em 0em 0em;
	float: left;
	width: 45%;
}

.dashboard-friend-pic{
	width: 100%;
}

.user-reviews-friends{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	margin: 1em 0em 0em 0em;
}

.friends-wrap{
	padding: 0em 0em 0em 1em;
	height: 30em;
	text-align: center;

	@media (min-width: 350px){
		padding: 0em 0em 0em 0.5em;
	}
	
}

.friends-list-item{
	background-color: $BackgroundColor;
	padding: 0em 0.8em 0em 0.2em;
	margin: 1em auto 1em auto;
	overflow: hidden;
	display: inline-block;

}

.friend-info-wrap{
	overflow: hidden;
	margin: 1.2em 0em 0em 1em;
	padding: 0em 0em 0em 0em;
	list-style-type: none;
	text-align: left;
	float: right;
	width: 45%;

}

//MODAL

%modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 50%;
  background: $BackgroundColor;
  font-family: $MainFontFamily;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid $BorderColor;
}

.modal-box{
	@extend %modal-box;
}

.modal-box2{
	@extend %modal-box;
}

.modal-box3{
	@extend %modal-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 0.5em;
  //border-top: 1px solid #ddd;
  //background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-box2 header,
.modal-box2 .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box2 header h3,
.modal-box2 header h4,
.modal-box2 .modal-header h3,
.modal-box2 .modal-header h4 { margin: 0; }

.modal-box2 .modal-body { padding: 2em 1.5em; }

.modal-box2 footer,
.modal-box2 .modal-footer {
  padding: 0.5em;
  //border-top: 1px solid #ddd;
  //background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-box3 header,
.modal-box3 .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box3 header h3,
.modal-box3 header h4,
.modal-box3 .modal-header h3,
.modal-box3 .modal-header h4 { margin: 0; }

.modal-box3 .modal-body { padding: 2em 1.5em; }

.modal-box3 footer,
.modal-box3 .modal-footer {
  padding: 0.5em;
  //border-top: 1px solid #ddd;
  //background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 1350px;
  background: rgba(0, 0, 0, 0.3) !important;

  @media (min-width: 900px){
  	 height: 1435px;
  }
}

.modal-body{
	overflow: hidden;

	li{
		list-style-type: none;
	}
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.modal-footer{
	overflow: hidden;
}

.modal-close-button{
	height: 2em;
	width: 2em;
	border-radius: 50%;
	padding: 0.5em;
	background-color: $ButtonAColor;
	border: 1px solid $ButtonARadiusColor;
	color: white;
	float: right;

	li{
		margin: 0.37em 0.3em 0em 0em;
		list-style-type: none;
	}

}

.modal-close-button:hover{
	background-color: $ButtonARadiusColor;
	border: 1px solid $ButtonAColor;
	color: $ButtonAColor;
}








