
@import "colors";
@import	"fonts";
@import "grid";	



/******************* PROFILE PAGE ******************************/


.profile-main{
	padding: 0em 0em 3em 0em;
}

.main-profile-page{
	background-color: $ProfileBackgroundColor;
}

//PROGRESS TRACKER

.works-explained-profile{
	margin: 2em auto 0em auto;
	padding: 0em 0em 4em 0em;
	text-align: center;
	
}

.step-wrap-profile{
	display: none;
	margin: 0 auto 1em auto;

	a{
		color: $MainFontColor;
		text-decoration: none;
	}

	@media (min-width: 900px){
		display: inline-block;
	}

}

.step-wrap-profileB{
	display: none;
	margin: 0 auto 1em auto;

	a{
		text-decoration: none;
		color: $MainFontColor;
	}

	@media (min-width: 900px){
		display: inline-block;
	}

}

.step-wrap-profileD{
	display: inline-block;
	margin: 0 auto 1em auto;

	a{
		text-decoration: none;
		color: $MainFontColor;
	}

}

.step-sizing-profile{
	width: 13em;

	@media (min-width: 900px){
		width: 8em;
	}
}

.works-arrow-profile{
	display: none;
	margin: 1em 0.5em 1.5em 0em;

	@media (min-width: 900px){
		display: inline-block;
	}
}

.works-arrow-profileB{
	display: none;
	margin: 0em 0em 4.5em 0em;

	@media (min-width: 900px){
		display: inline-block;
	}
}

.works-explained-nameP{
	font-family: $MainFontFamily;
	font-weight: $SectionsFontWeight;
	color: #00D94B;
	list-style-type: none;
}

//DASHBOARD MAIN CONTENT

.profile-main{
	background-color: white;
}

.dashboard-wrap{
	overflow: hidden;
	margin: 0 auto 4em auto;
}

//CURRENT GAME

.user-leftside-wrap{
	width: 24em;
	margin: 0 auto;

	@media (min-width: 900px){
		float: left;
	}
}

.user-current-game{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	height: 16em;
	margin: 0em 0em 3em 0em;
}

.user-nowgame-bottom{
	background-color: $BackgroundColor;
}

.thegame{
	margin: 2em 0em 0em 8em;
}

//RECENT REVIEWS

.user-reviews-wrap{
	border: 1px solid $BorderColor;
}

.user-reviews-top{
	background-color: $UserBoxesHeadersColor;
	font-family: $MainFontFamily;
	font-size: $DashboardColumnHeadersFontSize;
	font-weight: $DashboardColumnHeadersFontWeight;
	width: 100%;
	text-align: center;
	padding: 1em 0em 1em 0em;
}

.user-reviews-bottom{
	background-color: $BackgroundColor;
	padding: 0em 1em 1em 0em;
}

.single-review-wrap{
	overflow: hidden;
	padding: 1em 0em 0em 0em;
}

.single-review-wrap-picture{
	float: left;
	margin: 0em 0em 0em 1em;
}

.single-review-wrap-picture-sizing{
	width: 10em;
}

.single-review-wrap-info{
	float: left;
	margin: 0em 0em 0em 1em;
}

.review-date{
	font-family: $MainFontFamily;
	font-weight: $DashboardColumnTextFontWeight;
	border-bottom: 1px solid $BorderColor;
	padding: 0.5em 0.1em 0.3em 0.1em;
	width: 10em;
}

.single-user-review{
	font-family: $MainFontFamily;
	font-weight: $DashboardColumnTextFontWeight;
	margin: 0.5em 0em 0em 0em;
}

.stars-review{
	width: 10em;
	margin: 0.5em 0em 0em 0em;
}

.single-ratings-wrap{
	overflow: hidden;
	padding: 0em 0.3em 0em 0.2em;
}

.ratings-names{
	list-style-type: none;
	float: left;

	li{
		line-height: 1.7em;
	}
}

.ratings-numbers{
	list-style-type: none;
	float: right;

	li{
		line-height: 1.7em;
	}
}

//CURRENT STATUS

.user-details-wrap{
	width: 22em;
	margin: 1em auto;

	@media (min-width: 900px){
		margin: 0;
		float: right;
	}
}

.user-details-status{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	height: 12em;
}

.user-status-description{
	list-style-type: none;
	text-align: center;
	padding: 1.5em 3em 3em 4em;
	float: left;
}

.user-li-status{
	color: $StatusColor;
	font-size: 48px;
}

.user-status-pic{
	float: left;
	padding: 0.3em 0em 0em 0em;
}

.largeking{
	width: 3.1em;
}

//USER FRIENDS

.user-reviews-friends{
	border: 1px solid $BorderColor;
	background-color: $BackgroundColor;
	margin: 1em 0em 0em 0em;
}

.friends-wrap{
	padding: 0em 0em 0em 3em;
	height: 30em;
}

.friends-list-item{
	background-color: $BackgroundColor;
	padding: 0em 0.8em 0em 0.2em;
	margin: 1em 0em 1em 0.5em;
	overflow: hidden;
	display: inline-block;

}

.friend-info-wrap{
	overflow: hidden;
	margin: 1.2em 0em 0em 1em;
	padding: 0em 0em 0em 0em;
	list-style-type: none;
	text-align: left;
	float: right;

}

//MODAL

%modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 50%;
  background: $BackgroundColor;
  font-family: $MainFontFamily;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid $BorderColor;
}

.modal-box{
	@extend %modal-box;
}

.modal-box2{
	@extend %modal-box;
}

.modal-box3{
	@extend %modal-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 0.5em;
  //border-top: 1px solid #ddd;
  //background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-box2 header,
.modal-box2 .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box2 header h3,
.modal-box2 header h4,
.modal-box2 .modal-header h3,
.modal-box2 .modal-header h4 { margin: 0; }

.modal-box2 .modal-body { padding: 2em 1.5em; }

.modal-box2 footer,
.modal-box2 .modal-footer {
  padding: 0.5em;
  //border-top: 1px solid #ddd;
  //background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-box3 header,
.modal-box3 .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box3 header h3,
.modal-box3 header h4,
.modal-box3 .modal-header h3,
.modal-box3 .modal-header h4 { margin: 0; }

.modal-box3 .modal-body { padding: 2em 1.5em; }

.modal-box3 footer,
.modal-box3 .modal-footer {
  padding: 0.5em;
  //border-top: 1px solid #ddd;
  //background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.3) !important;
}

.modal-body{

	li{
		list-style-type: none;
	}
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.modal-footer{
	overflow: hidden;
}

.modal-close-button{
	height: 2em;
	width: 2em;
	border-radius: 50%;
	padding: 0.5em;
	background-color: $ButtonAColor;
	border: 1px solid $ButtonARadiusColor;
	color: white;
	float: right;

	li{
		margin: 0.35em 0.3em 0em 0em;
		list-style-type: none;
	}

}

.modal-close-button:hover{
	background-color: $ButtonARadiusColor;
	border: 1px solid $ButtonAColor;
	color: $ButtonAColor;
}








