@import "colors";
@import	"fonts";
@import "grid";	


.review-form-main{
	background-color: $BackgroundColor;
	border: 1px solid $BorderColor;
	margin: 3em auto 3em auto;
}

.review-form-wrap{
	background-color: $BackgroundColor;
	padding: 0em 0em 1em 0em;
}

.review-header{
	background-color: $RequestFormHeaderColor;
	font-family: $MainFontFamily;
	font-size: $RequestFormHeaderFontSize;
	font-weight: $RequestFormHeaderFontWeight;
	padding: 1em 0em 1em 0em;
	margin: 0em 0em 2em 0em;
	text-align: center;
}

.review-question{
	background-color: $RequestQuestionHeaderColor;
	font-weight: $RequestQuestionFontWeight;
	letter-spacing: $RequestQuestionLetterSpacing;
	width: 50%;
	padding: 0.5em;
	margin: 2em auto 0em auto;
}

%review-form-answers{
	background-color: white;
	width: 50%;
	padding: 0.5em;
	overflow: hidden;
	margin: 0 auto;
}

.review-form-answers{
	@extend %review-form-answers;
	border-bottom: 1px solid $RequestFormBorderColor;
}

.review-form-answers-first{
	@extend %review-form-answers;
	overflow: hidden;

}

.review-answer-wrap{
	margin: 0em 5em 0em 0em;
	float: right;
}

.review-answerA{
	display: inline-block;
	margin: 0.05em 0em 0em 3.5em;
}

.review-answerB{
	display: inline-block;
	margin: 0.05em 0em 0em 3.2em;
}

.checkboxes-wrap{
	margin: 0em 4.8em 0em 0em;
	float: right;
}

.answer-choice{
	margin: 0em 0em 0em 0em;
	float: left;
}