@import "colors";
@import	"fonts";
@import "grid";	





//WORKS SECTION

.featured-titles-nameB{
	@extend %featured-titles-name;
	margin: 2em auto 1em auto;

	a{
		color: $MainFontColor;
		text-decoration: none;
	}

	@media (min-width: 900px){
		padding: 0em 0em 1em 0em;
	}
}

.works-section{
	background-color: white;
}

.works-explained{
	margin: 1em auto 0em auto;
	padding: 0em 0em 4em 0em;
	text-align: center;	
}

.step-wrap{
	display: block;
	width: 20em;
	//width: 10%;
	margin: 0 auto 1em auto;
	padding: 0em 1em 0em 1em ;

	.step-wrap-img {
		width: 100%;
		position: relative;
		height: 9.3em;
		img {
			position: absolute;
			top: 25%;
			left: 32%;
		}
	}

	a{
		text-decoration: none;
		color: $MainFontColor;
		display: block;
	}

	@media (min-width: 600px){
		display: inline-block;
		width: 10%;
		margin: 0 auto;

		.step-wrap-img {
		width: 100%;
		position: relative;
		height: 9.3em;
		img {
			position: absolute;
			top: 22%;
			left: 17%;
		}
	}
	}

	@media (min-width: 900px){
		//width: 12em;

		.step-wrap-img {
		width: 100%;
		position: relative;
		height: 9.3em;
		img {
			position: absolute;
			top: 0%;
			left: 12%;
		}
	}
	}
}

.step-wrap:hover{
	a{
		color: $StepDescriptionFontHoverColor;
		font-weight: 400;
	}
}

.step-wrap-underneath{
	margin: 0.5 auto;
	width: 16em;
	display: inline-block;
}

.works-arrow{
	display: none;
	margin: 0em 0em 3.3em 0em;
	width: 5%;

	@media (min-width: 600px){
		display: inline-block;
		//width: 3em;
	}

	@media (min-width: 900px){
		//width: 5em;
		//margin: 0em 0em 3.6em 0em;

	}
}

.step-sizing1{
	//width: 7.2em;
	width: 97%;
	transition: all .2s ease-in-out;

	@media (min-width: 900px){
		//width: 9.2em;
		width: 99%;
	}
}

.step-sizing1:hover{
	transform: scale(1.1);
	
	@media (min-width: 900px){
		transform: scale(1.1);
	}
}

.step-sizing{
	//width: 7em;
	width: 97%;
	transition: all .2s ease-in-out;

	@media (min-width: 900px){
		//width: 9em;
		width: 99%;
	}
}

.step-sizing:hover{
	transform: scale(1.1);

	@media (min-width: 900px){
		transform: scale(1.1);
	}
}


%works-explained-name{
	font-family: $MainFontFamily;
	font-weight: $SectionsFontWeight;
	list-style-type: none;
	margin: 0.5em 0em 0em 0em;
	font-size: 80%;
}

.works-explained-nameA{
	@extend %works-explained-name;

	@media (min-width: 600px){
		padding: 0em 0em 0em 0.4em;
	}

	@media (min-width: 900px){
		padding: 0em 0em 0em 0em;
	}
	

}

.works-explained-nameB{
	@extend %works-explained-name;
	

}

.works-explained-nameC{
	@extend %works-explained-name;


}

.works-explained-nameD{
	@extend %works-explained-name;
	margin: 0.5em 0em 0em 0em;

}

.works-explained-description{
	color: $StepDescriptionFontColor;
	list-style-type: none;
	max-width: 20em;
	margin: 0.3em auto 0em auto;

	@media (min-width: 600px){
		width: 13em;
		font-size: 0.8em
	}

	@media (min-width: 900px){
		width: 15em;
		font-size: 1em;
	}
}

//MODALS

.howmodal-intro{
	overflow: hidden;
	margin: 0 auto;
	padding: 0em 0em 1em 0em;
}

.howmodal-intro-title{
	overflow: hidden;
	margin: 0 auto;
	padding: 0em 0em 1.5em 0em;
}

.howmodal-intro-name{
	font-family: $MainFontFamily;
	font-size: 1.2em;
	margin: 1.5em auto 0em auto;
}

.howmodal-intro-left{
	font-size: 1.1em;
	line-spacing: 1.2em;
	margin: 0 auto;
}

.howmodal-intro-right{
	margin: 0 auto;
}

.modal-box5{
	display: none;
	position: absolute;
	z-index: 1000;
	width: 80%;
	background: $BackgroundColor;
	font-family: $MainFontFamily;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid $BorderColor;
	margin: 40em 0em 0em 0em;

	@media (min-width: 600px){
		width: 65%;
		margin: 30em 0em 0em 0em;
	}

	@media (min-width: 900px){
		width: 50%;
	}
}

.modal-box5 header,
.modal-box5 .modal-header {
  background-color: #3AADC8;	
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box5 header h3,
.modal-box5 header h4,
.modal-box5 .modal-header h3,
.modal-box5 .modal-header h4 { margin: 0em; }

.modal-box5 .modal-body { padding: 2em; }

.modal-box5 footer,
.modal-box5 .modal-footer {
  padding: 0.5em;
  text-align: right;
}

.modal-box6{
	display: none;
	position: absolute;
	z-index: 1000;
	width: 80%;
	background: $BackgroundColor;
	font-family: $MainFontFamily;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid $BorderColor;
	margin: 40em 0em 0em 0em;

	@media (min-width: 600px){
		width: 65%;
		margin: 30em 0em 0em 0em;
	}

	@media (min-width: 900px){
		width: 50%;
	}
}

.modal-box6 header,
.modal-box6 .modal-header {
  background-color: #3AADC8;	
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box6 header h3,
.modal-box6 header h4,
.modal-box6 .modal-header h3,
.modal-box6 .modal-header h4 { margin: 0em; }

.modal-box6 .modal-body { padding: 2em 1.5em; }

.modal-box6 footer,
.modal-box6 .modal-footer {
  padding: 0.5em;
  text-align: right;
}

.modal-box7{
	display: none;
	position: absolute;
	z-index: 1000;
	width: 80%;
	background: $BackgroundColor;
	font-family: $MainFontFamily;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid $BorderColor;
	margin: 40em 0em 0em 0em;

	@media (min-width: 600px){
		width: 65%;
		margin: 30em 0em 0em 0em;
	}

	@media (min-width: 900px){
		width: 50%;
	}
}

.modal-box7 header,
.modal-box7 .modal-header {
  background-color: #3AADC8;	
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box7 header h3,
.modal-box7 header h4,
.modal-box7 .modal-header h3,
.modal-box7 .modal-header h4 { margin: 0em; }

.modal-box7 .modal-body { padding: 2em 1.5em; }

.modal-box7 footer,
.modal-box7 .modal-footer {
  padding: 0.5em;
  text-align: right;
}

.modal-box8{
	display: none;
	position: absolute;
	z-index: 1000;
	width: 80%;
	background: $BackgroundColor;
	font-family: $MainFontFamily;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid $BorderColor;
	margin: 40em 0em 0em 0em;

	@media (min-width: 600px){
		width: 65%;
		margin: 30em 0em 0em 0em;
	}

	@media (min-width: 900px){
		width: 50%;
	}
}

.modal-box8 header,
.modal-box8 .modal-header {
  background-color: #3AADC8;	
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box8 header h3,
.modal-box8 header h4,
.modal-box8 .modal-header h3,
.modal-box8 .modal-header h4 { margin: 0em; }

.modal-box8 .modal-body { padding: 2em 1.5em; }

.modal-box8 footer,
.modal-box8 .modal-footer {
  padding: 0.5em;
  text-align: right;
}


.modal-overlay5 {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 3450px;
  background: rgba(0, 0, 0, 0.3) !important;

  @media (min-width: 600px){
  	height: 2250px;
  }

  @media (min-width: 900px){
  	height: 1830px;
  }

}

