<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="Carousel/owl.carousel.min.js" type="text/javascript"></script>
  <script src="JQuery/main.js" type="text/javascript"></script>

  <script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
  })
  </script>

</html>
